<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{user.name}}</title>
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  {% comment %} {{user.image_url}}
  
  <h1>{{user.first_name}} {{user.last_name}}</h1>

  <a href="/">Edit</a>
  <a href="/">Delete</a>
 {% endcomment %}

  <div class="row">

    {% if user.image_url %}
    <div>
      <img src="{{ user.image_url }}"
           alt="{{ user.full_name }}">
    </div>
    {% endif %}
  
    <div>
      <h1>{{ user.full_name }}</h1>
  
      <form>
        <button class="btn btn-primary btn-sm"
                formaction="/users/{{ user.id }}/edit"
                formmethod="GET">Edit
        </button>
        <button class="btn btn-danger btn-sm"
                formaction="/users/{{ user.id }}/delete"
                formmethod="POST">Delete
        </button>
      </form>

      <h2 class="mt-4">Posts</h2>

      <ul>
        {% for post in user.posts %}
        <li>
          <a href="/posts/{{ post.id}}">{{ post.title }}</a>
          <small>{{ post.friendly_date }}</small>
        </li>
        {% endfor %}
      </ul>
  
      <p><a href="/users/{{ user.id }}/posts/new" class="btn btn-primary">Add Post</a></p>
  
    </div>
  </div>

</body>

</html>