<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <title>{{user.name}}</title>
</head>

<body>
<h1>Create a user</h1>
<form method="POST">
  <p>First Name</p>     
  <p><input name="first_name" placeholder="Enter a first name"></p>
  <p>Last Name</p>  
  <p><input name="last_name" placeholder="Enter a last name"></p>
  <p>Image URL</p>   
  <p><input name="image_url"placeholder="Provide an image of this user"></p>
  
  <div class="form-group row">
    <div class="ml-auto mr-3">
      <button type="submit" class="btn btn-success">Add</button>
    </div>
  </div>

</form>

</body>

</html>

